.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--light-gray);
    font-family: 'Inter', sans-serif;
    height: calc(100vh - 209px);
    padding-top: 45px;
}

.contact-us-dark {
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.contact-us-form {
    margin-top: 65px;
    width: 300px;
}

.form-buttons-container {
    display: flex;
    justify-content: center;
}

.thank-you-modal-header {
    text-align: right;
    margin-bottom: 15px;
}