.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--white);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 25px;
    width: 250px;

    position: relative;
}

.product-card-dark {
    background-color: rgba(58, 72, 149, 0.1);
    color: var(--light-gray);
}

.heart-icon {
    color: var(--indigo);
    font-size: 25px;
    

    position: absolute;
    top: 35px;
    right: 35px;
}

.heart-outline-icon {
    color: var(--dark-blue);
    font-size: 25px;

    position: absolute;
    top: 35px;
    right: 35px;
}

.product-image-container {
    display: flex;
    align-items: center;

    border: 2px solid var(--border-gray);
    border-radius: 8px;
    height: 280px;
    margin-bottom: 35px;
}

.product-image-container-dark {
    border: 2px solid rgba(58, 72, 149, 0.4);
}

.product-image-container img {
    max-height: 200px;
    object-fit: contain;
    padding: 15px;
    width: 100%;
}

.product-details-container {
    padding-bottom: 15px;
}

.bold-product-text {
    font-weight: 600;
}

.see-details-button {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 25px;
    width: 100%;
}

.see-details-button:hover {
    background-color: var(--red);
}