.product-card {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    border-radius: 8px;
    margin: 10px;
    padding: 25px;
    width: 250px;

    position: relative;
}

.product-card-dark {
    background-color: var(--darker-blue);
    color: var(--cyan);
}

.heart-icon {
    font-size: 40px;
    opacity: 0.2;

    position: absolute;
    top: 35px;
    right: 35px;
}

.product-image-container {
    display: flex;
    align-items: center;

    border: 2px var(--border-gray) solid;
    border-radius: 8px;
    height: 280px;
    margin-bottom: 35px;
}

.product-image-container img {
    max-height: 200px;
    object-fit: contain;
    padding: 15px;
    width: 100%;
}

.product-details-container {
    padding-bottom: 15px;
}

.bold-product-text {
    font-weight: 600;
}