.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    width: 200px;

    position: relative;
}

.heart-icon {
    font-size: 40px;
    opacity: 0.2;

    position: absolute;
    top: 0;
    right: -45px;
}

.product-card img {
    padding-bottom: 35px;
    width: 100%;
}

.product-card div {
    padding-bottom: 15px;
}

.bold-product-text {
    font-weight: 600;
}