.checkout-contents-container {
    display: flex;
    justify-content: space-between;

    background-color: var(--white);
    padding: 35px;
    width: 70vw;
}

.checkout-contents-left {
    display: flex;
    align-items: center;

    width: 60%;
}

.checkout-contents-right {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 40%;
}

.checkout-contents-left img {
    width: 130px;
}

.checkout-product-title {
    font-weight: 600;
    margin: 0 80px;
    width: fit-content;
}

.checkout-product-price, .checkout-product-quantity, .checkout-trashcan-icon {
    text-align: center;
    width: 100px;
}

.checkout-trashcan-icon {
    color: var(--medium-blue);
    cursor: pointer;
    font-size: 30px;
}

.checkout-trashcan-icon:hover {
    color: var(--red);
}

.checkout-dark {
    background-color: rgba(58, 72, 149, 0.1);
    border-color: var(--indigo);
    color: var(--light-gray);
}

.checkout-dark img {
    border: 2px solid rgba(58, 72, 149, 0.4);
    padding: 5px;
}

@media (max-width: 1120px) {
    .checkout-contents-container {
        padding: 25px;
        width: 90vw;
    }   
}

@media (max-width: 816px) {
    .checkout-product-title {
        font-size: 14px;
        margin: 0 20px;
    }
}

@media (max-width: 630px) {
    .checkout-contents-container {
        margin-top: 25px;
    }

    .checkout-contents-left {
        flex-direction: column;
        text-align: center;

        row-gap: 15px;
    }

    .checkout-contents-left img {
        width: 100px;
    }

    .checkout-product-title {
        font-size: 12px;
        margin: 0 15px;
    }

    .checkout-contents-right {
        flex-direction: column;
    }

    .checkout-trashcan-icon {
        font-size: 25px;
    }
}