.checkout-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--light-gray);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

.checkout-container-dark {
    background-color: var(--darker-blue);
    color: var(--light-gray);
}

.checkout-header-container {
    display: flex;
    
    background-color: var(--white);
    border-bottom: 2px solid var(--border-gray);
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    padding: 15px 35px;
    width: 70vw;
}

.empty-cart-message {
    font-size: 20px;
    padding: 55px;
}

.checkout-footer-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    background-color: var(--white);
    border-bottom: 2px solid var(--border-gray);
    border-top: 2px solid var(--border-gray);
    height: 200px;
    margin-bottom: 50px;
    width: 70vw;
}

.checkout-footer-contents-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
    padding-right: 50px;
    width: 250px;
}

.checkout-footer-contents-container div {
    display: flex;
    justify-content: space-between;
}

.checkout-footer-container p {
    font-size: 20px;
    font-weight: 600;
}

.checkout-button {
    align-self: flex-end;

    background-color: var(--yellow);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 25px;
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
}

.checkout-button:hover {
    background-color: var(--red);
}

.checkout-dark {
    background-color: rgba(58, 72, 149, 0.1);
    border-color: var(--indigo);
    color: var(--light-gray);
}

.checkout-modal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
    font-weight: 600;
    height: 100%;
    padding: 0 55px;
    text-align: center;
}