.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
    padding: 25px;
}

.shopping-cart-container {
    font-size: 40px;
    
    position: relative;
}

/* Red Circle Around Shopping Cart Number */
.shopping-cart-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--red);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    position: absolute;
    top: -2px;
    right: 8px;
}

/* Shopping Cart Number */
.shopping-cart-container p {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
}