.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--light-gray);
    color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
    padding: 25px;
}

.header-dark {
    background-color: var(--dark-blue);
    color: var(--white);
}

.theme-button {
    background-color: var(--darker-blue);
    border: none;
    border-radius: 8px;
    color: var(--cyan);
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    padding: 4px 10px 2px 10px;
}

.theme-button-dark {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.shopping-cart-container {
    font-size: 40px;
    
    position: relative;
}

/* Red Circle Around Shopping Cart Number */
.shopping-cart-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--red);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    position: absolute;
    top: -2px;
    right: 6px;
}

/* Shopping Cart Number */
.shopping-cart-container p {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
}