.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #3A4895;
    font-family: 'Inter', sans-serif;
    padding: 25px;
}

.shopping-cart-container {
    position: relative;
}

.shopping-cart-icon {
    font-size: 35px;
}

.shopping-cart-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: red;
    border-radius: 50%;
    height: 18px;
    width: 18px;

    position: absolute;
    top: -2px;
    right: 8px;
}

.shopping-cart-container p {
    color: white;
    font-size: 12px;
    font-weight: 600;
}