.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 18px;
    height: 80px;
    padding: 0 25px;
}

.footer-dark {
    background-color: var(--darker-blue);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 20px;
}
  
.modal-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
  
.modal-close-button:hover {
    color: var(--red);
}
  
form label {
    display: block;
    margin-bottom: 10px;
}
  
form input, form textarea { 
    background-color: var(--border-gray);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
  
form input:focus, form textarea:focus {
    outline: none;
}
  
form button[type='submit'] {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}
  
form button[type='submit']:hover {
    background-color: red;
}