.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--dark-blue);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    height: 80px;
    padding: 0 25px;
}

.modal-button {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.modal-button:hover {
    background-color: red;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}
  
.modal-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
  
.modal-close-button:hover {
    color: var(--red);
}
  
form label {
    display: block;
    margin-bottom: 10px;
}
  
form input, form textarea { 
    background-color: var(--border-gray);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
  
form input:focus, form textarea:focus {
    outline: none;
}

@media (max-width: 576px) {
    .footer-container {
        flex-direction: column-reverse;
        justify-content: center;

        font-size: 15px;
        gap: 10px;
    }
}