.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--light-gray);
    font-family: 'Inter', sans-serif;
    min-height: calc(100vh - 209px);
}

.product-container-dark {
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.product-container img {
    border: 2px solid var(--white);
    height: 400px;
    
    padding: 5px;
}

.details-container {
    margin-left: 150px;
    width: 350px;

    position: relative;
}

.back-arrow-icon {
    cursor: pointer;
    font-size: 40px;

    position: absolute;
    top: -50px;
    right: -55px;
}

.details-container h2 {
    margin-bottom: 25px;
}

.details-container p {
    margin: 15px 0;
}

.details-container button {
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 25px;
    transition: background-color 0.3s ease-in-out;
}

.details-container button:hover {
    background-color: var(--red);
}

@media (max-width: 940px) {
    .product-container {
        font-size: 14px;
    }

    .product-container img {
        height: 350px;
        padding: 5px;
    }

    .details-container {
        margin-left: 50px;
        width: 350px;

        position: relative;
    }
}

@media (max-width: 790px) {
    .product-container {
        flex-direction: column;
        justify-content: flex-start;

        min-height: 100vh;

        position: relative;
    }

    .product-container img {
        margin: 95px 0 30px 0;
        height: 250px;
    }

    .back-arrow-icon {
        top: 35px;
        right: 20px;
    }

    .details-container {
        margin-bottom: 25px;
        margin-left: 25px;
        width: 500px;

        position: static;
    }

    .add-to-cart-button-container {
        text-align: center;
    }
}

@media (max-width: 532px) {
    .product-container {
        font-size: 12px;
    }

    .product-container img {
        height: 200px;
    }

    .back-arrow-icon {
        font-size: 32px;
    }

    .details-container {
        width: fit-content;
    }

    .details-container button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 418px) {
    .product-container img {
        height: 150px;
    }
}